html, body {
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.testBox, .solveBox {
    width: 700px;
    padding: 10px 10px;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    white-space: pre-wrap;
    flex-direction: column;
    font-family: monospace;
    font-size: large;
}

.testBox span, .solveBox span {
    margin: 0px 30px 10px 30px;
}